@using Cinemax.Models
@model Cinemax.Models.MovieTeathersViewModel
@{
    ViewBag.Title = "Sucursales";
}

<h2>@ViewBag.Title</h2>

<div class="panel">
    <div class="panel-body">
        @using (Html.BeginForm("MovieTeathers", "Management", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "teathers-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Accion)
            @Html.HiddenFor(m => m.clave_cin)
            <div class="col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(m => m.nombre, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.telefono, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.telefono, 
                            new { @class = "form-control", @data_val = "true", @data_val_number = "El campo Teléfono debe ser un número" })
                        @Html.ValidationMessageFor(m => m.telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.num_salas, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.num_salas, new { @class = "form-control", @data_val_number = "El campo Número de salas debe ser un número" })
                        @Html.ValidationMessageFor(m => m.num_salas, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(m => m.colonia, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.colonia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.colonia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.calle, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.calle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.calle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.numero, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.numero, new { @class = "form-control", @data_val_number = "El campo Número debe ser un número" })
                        @Html.ValidationMessageFor(m => m.numero, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div id="buttons-container" class="col-md-12 text-right">
                        <button id="add-teather" type="submit" class="btn btn-success" data-action="Add"><span class="glyphicon glyphicon-ok"></span> Agregar</button>
                        <button id="remove-teather" type="submit" class="btn btn-danger disabled" data-action="Remove"><span class="glyphicon glyphicon-remove"></span> Eliminar</button>
                        <button id="edit-teather" type="submit" class="btn btn-primary disabled" data-action="Edit"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
                        <button id="cancel-action" type="submit" class="btn btn-warning disabled" data-action="Cancel"><span class="glyphicon glyphicon-remove-circle"></span> Canelar</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        @Html.ValidationMessageFor(m => m.clave_cin, "", new { @class = "text-danger" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>

<div class="panel table-responsive">
    <div class="panel-body">
        <table id="grid-teathers" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="select" data-formatter="select">Seleccionar</th>
                    <th data-column-id="nombre">Nombre</th>
                    <th data-column-id="telefono">Teléfono</th>
                    <th data-column-id="num_salas">Número de salas</th>
                    <th data-column-id="colonia">Colonia</th>
                    <th data-column-id="calle">Calle</th>
                    <th data-column-id="numero">Número</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/bootgrid")
    @Styles.Render("~/Content/bootstrap-select")
}

@section Scripts {
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-select")
    <script type="text/javascript">urlGetTeathers = "@Url.Action("GetMovieTeathers")"</script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Management/movieTeathers.js")"></script>
}