@using Cinemax.Models
@model Cinemax.Models.SalesViewModel
@{
    ViewBag.Title = "Ventas";
}

<h2>Ventas</h2>

<div class="panel">
    <div class="panel-body">
        <div class="col-md-5" style="border-right: 1px solid #adadad;">
            @using (Html.BeginForm("Index", "Sales", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "sales-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Accion)
                @Html.HiddenFor(m => m.clave_venta)
                <div class="form-group row">
                    @Html.LabelFor(m => m.clave_mem, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <select class="form-control selectpicker" id="clave_mem" name="clave_mem">
                            @foreach (SelectClient cliente in Model.clientes)
                            {
                                <option data-content="@cliente.nombre">@cliente.clave_mem</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.clave_mem, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.clave_cin, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <select class="form-control selectpicker" id="clave_cin" name="clave_cin">
                            @foreach (SelectMovieTeather cine in Model.cines)
                            {
                                <option data-content="@cine.nombre">@cine.clave_cin</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.clave_cin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.clave_pel, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <select class="form-control selectpicker" id="clave_pel" name="clave_pel">
                            @foreach (SelectMovie pelicula in Model.peliculas)
                            {
                                <option data-content="@pelicula.nombre">@pelicula.clave_pel</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.clave_pel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.hora, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <select class="form-control selectpicker" id="clave_fun" name="clave_fun">
                            @foreach (SelectFunction funcion in Model.funciones)
                            {
                                <option class="cinema-@funcion.clave_cin movie-@funcion.clave_pel" data-content="@funcion.hora" data-sala="@funcion.clave_sal">@funcion.clave_fun</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.hora, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.clave_sal, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <input class="form-control" data-val="true" data-val-number="El campo Sala debe ser un número." 
                        data-val-required="El campo Sala es obligatorio." readonly id="clave_sal" name="clave_sal" type="text">
                        @Html.ValidationMessageFor(m => m.clave_sal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.tipo_pago, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <label class="radio-inline pago-Efectivo">
                            @Html.RadioButtonFor(m => m.tipo_pago, "Efectivo", new { @class = "radio-inline efectivo", @checked = "" }) Efectivo
                        </label>
                        <label class="radio-inline pago-Tarjeta">
                            @Html.RadioButtonFor(m => m.tipo_pago, "Tarjeta", new { @class = "radio-inline tarjeta" }) Tarjeta
                        </label>
                        <br />
                        @Html.ValidationMessageFor(m => m.tipo_pago, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.num_tarjeta, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.num_tarjeta, new { @class = "form-control", @disabled = "" })
                        @Html.ValidationMessageFor(m => m.num_tarjeta, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.cod_seguridad, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.cod_seguridad, new { @class = "form-control", @disabled = "" })
                        @Html.ValidationMessageFor(m => m.cod_seguridad, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Fecha de vencimiento", new { @class = "col-md-4 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.mes_ven, new { @class = "form-control", @placeholder = "Mes", @disabled = "" })
                        @Html.ValidationMessageFor(m => m.mes_ven, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.anio_ven, new { @class = "form-control", @placeholder = "Año", @disabled = "" })
                        @Html.ValidationMessageFor(m => m.anio_ven, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br/><br/>
                <div class="form-group row">
                    <div id="buttons-container" class="col-md-offset-4 col-md-8 text-right">
                        <button id="add-sale" type="submit" class="btn btn-primary" data-action="Add"><span class="glyphicon glyphicon-ok"></span> Generar</button>
                        <button id="cancel-action" type="button" class="btn btn-default disabled" data-action="Cancel"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-7">
            <div class="panel table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 10; i++)
                        {
                        <tr>
                            @for (int j = 0; j < 8; j++)
                            {
                            <td>
                                <img src="@Url.Content("~/Content/Images/butaca.png")" class="available-place" />
                            </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @Html.ValidationMessageFor(m => m.clave_venta, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.Accion, "", new { @class = "text-danger" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/bootstrap-select")
}

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-select")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Sales/index.js")"></script>
}

